<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>NetPassPort</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.mogan.sys.PreStopProcess</listener-class>
	</listener>
	<servlet>
		<servlet-name>proxool</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxool</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InitSys</display-name>
		<servlet-name>InitSys</servlet-name>
		<servlet-class>com.mogan.sys.InitSys</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitSys</servlet-name>
		<url-pattern>/InitSys</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SysKernel</display-name>
		<servlet-name>SysKernel</servlet-name>
		<servlet-class>com.mogan.sys.SysKernel</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysKernel</servlet-name>
		<url-pattern>/SysKernel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfigurator</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DBConn</display-name>
		<servlet-name>DBConn</servlet-name>
		<servlet-class>com.mogan.sys.DBConn</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBConn</servlet-name>
		<url-pattern>/DBConn</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModelManager</display-name>
		<servlet-name>ModelManager</servlet-name>
		<servlet-class>com.mogan.sys.ModelManager</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModelManager</servlet-name>
		<url-pattern>/ModelManager</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SysSchedule</display-name>
		<servlet-name>SysSchedule</servlet-name>
		<servlet-class>com.mogan.sys.SysSchedule</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysSchedule</servlet-name>
		<url-pattern>/SysSchedule</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginPP</display-name>
		<servlet-name>LoginPP</servlet-name>
		<servlet-class>com.mogan.login.LoginPP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPP</servlet-name>
		<url-pattern>/LoginPP</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AjaxPortal</display-name>
		<servlet-name>AjaxPortal</servlet-name>
		<servlet-class>com.mogan.serviceProtal.AjaxPortal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxPortal</servlet-name>
		<url-pattern>/AjaxPortal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FilePortal</display-name>
		<servlet-name>FilePortal</servlet-name>
		<servlet-class>com.mogan.serviceProtal.FilePortal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilePortal</servlet-name>
		<url-pattern>/FilePortal</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WebServiceProtal</display-name>
		<servlet-name>WebServiceProtal</servlet-name>
		<servlet-class>com.mogan.serviceProtal.WebServiceProtal</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebServiceProtal</servlet-name>
		<url-pattern>/WebServiceProtal</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Schedule</display-name>
		<servlet-name>Schedule</servlet-name>
		<servlet-class>com.mogan.serviceProtal.Schedule2</servlet-class> 
		<init-param>
			<param-name>APP_ID</param-name>
			<param-value>26b782eb04abbd54efba0dcf854b158d</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Schedule</servlet-name>
		<url-pattern>/Schedule</url-pattern>
	</servlet-mapping>
</web-app>