.mogan-grid-row-1 {
	background-color: #FFCCFF ;
}

.mogan-grid-row-2 {
	background-color: #CC99FF ;
}

.mogan-grid-row-3 {
	background-color: #9966FF ;
}

.mogan-grid-row-4 {
	background-color: #FFCCCC ;
}

.mogan-grid-row-5 {
	background-color: #CCCCCC ;
}

.mogan-grid-row-6 {
	background-color: #9999CC ;
}

.mogan-grid-row-7 {
	background-color: #FFFF99 ;
}

.mogan-grid-row-8 {
	background-color: #CCCC99 ;
}

.mogan-grid-row-9 {
	background-color: #999999 ;
}