.mogan-grid-row-1 {
	background-color: #F9C ;
}

.mogan-grid-row-2 {
	background-color: #FC9 ;
}

.mogan-grid-row-3 {
	background-color: #FF9 ;
}

.mogan-grid-row-4 {
	background-color: #CFC ;
}

.mogan-grid-row-5 {
	background-color: #CFF ;
}

.mogan-grid-row-6 {
	background-color: #9CF ;
}

.mogan-grid-row-7 {
	background-color: #C9F ;
}

.mogan-grid-row-8 {
	background-color: #F0F ;
}

.mogan-grid-row-9 {
	background-color: #FC0 ;
}

.mogan-grid-row-10 {
	background-color: #FF0 ;
}

.mogan-grid-row-11 {
	background-color: #0F0 ;
}

.mogan-grid-row-12 {
	background-color: #0F0 ;
}

.mogan-grid-row-13 {
	background-color: #0FF ;
}

.mogan-grid-row-14 {
	background-color: #0CF ;
}

.mogan-grid-row-15 {
	background-color: #C0C0C0 ;
}

.mogan-grid-row-16 {
	background-color: #F00 ;
}

.mogan-grid-row-17 {
	background-color: #F90 ;
}

.mogan-grid-row-18 {
	background-color: #396 ;
}

.mogan-grid-row-19 {
	background-color: #3CC ;
}

.mogan-grid-row-20 {
	background-color: #36F ;
}

.mogan-grid-row-21 {
	background-color: #800080 ;
}

.mogan-grid-row-22 {
	background-color: #969696 ;
}

.mogan-grid-row-23 {
	background-color: #0F0 ;
}

.mogan-grid-row-24 {
	background-color: #800000 ;
}

.mogan-grid-row-25 {
	background-color: #F60 ;
}

.mogan-grid-row-26 {
	background-color: #808000 ;
}

.mogan-grid-row-27 {
	background-color: #669 ;
}

.mogan-grid-row-28 {
	background-color: #808080 ;
}

.mogan-grid-row-dark {
	background-color: #8B8386 ;
}
