/**
* help
*/
.help {
    background-image:url(../../resources/mogan/images/1276581395_Help_Circle_Blue.png) !important
}

/**
* save
*/
.save {
    background-image:url(../../resources/mogan/images/1277192544_Save.png) !important
}
/**
* 垃圾桶
*/
.trashCan {
    background-image:url(../../resources/mogan/images/1273740478_trash_16x16.gif) !important
}

.video {
	background-image:
		url(../../resources/mogan/images/1255403311_mix_video.png) !important;
}

.mail {
	background: transparent
		url(../../resources/mogan/images/1258352253_send.png) no-repeat top
		left;
	height: 32px;
	width: 32px;
}

/**
 * 搜尋 放大鏡
 */
.search {
	background-image:
		url(../../resources/mogan/images/1259213867_system-search.png)
		!important;
	height: 32px;
	width: 32px;
}

.refresh {
	background-image:
		url(../../resources/mogan/images/1272416636_arrow_circle_double.png)
		!important;
	height: 16px;
	width: 16px;
}

/**
 * 計算機
 */
.calculator {
	background-image:
		url(../../resources/mogan/images/1272518090_calculator_blue.png)
		!important;
	height: 16px;
	width: 16px;
}

.falg {
	background-image:
		url(../../resources/mogan/images/1271665608_mail-flag-kmail.png)
		!important;
	height: 32px;
	width: 32px;
}

.flag {
	background-image:
		url(../../resources/mogan/images/622.png)
		!important;
	height: 32px;
	width: 32px;
}

.mogan-item-id {
	font-size: 15px;
	color: #FF0000;
}

.mogan-selectable,.mogan-selectable * {
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
}